*.DS_Store
*.RData
*.Rhistory
slurm-logs/
*.sh~
*.py~
*.R~
ref_align/psr_utils/__pycache__
*.pl~
.gitignore~
*.vcf*
*.bam*
*.csv
*.rds
*.txt
*.txt*
*.tsv
genotypes/
*.ped
*.map
*.bim
*.fam
*.fa*
impute/
magicsim/
*.png
*.pdf
*.ibd
*.hbd
*.log
*.r2.filtered
*.match
*.ld
*.nosex
*.012
*.012.indv
*.012.pos
*.frqx
*.frq*