*.DS_Store
*.RData
*.Rhistory
slurm-logs/
gemma/
test/
workflows/
mppR/
*.sh~
*.py~
*.R~
ref_align/psr_utils/__pycache__
*.pl~
.gitignore
.gitignore~
*.vcf*
*.bam*
*.txt.*
*.ped
*.bed
*.map
*.bim
*.fam
*.fa*
impute/
magicsim/
*.png
*.pdf
*.hbd
*.ibd.gz
*.hbd.gz
*.log
*.r2.filtered
*.match
*.ld
*.nosex
*.012
*.012.indv
*.012.pos
*.frqx
*.frq*
expression/
genotypes/probabilities/allele_probs/
genotypes/probabilities/geno_probs/dropped/
genotypes/probabilities/geno_probs/images/
genotypes/probabilities/geno_probs/raw/
genotypes/qtl2/Biogemma_DHgenos/DH*.csv
genotypes/qtl2/Biogemma_DHgenos/rrBLUP_genotype.txt
genotypes/qtl2/MAGICSimulations/
genotypes/qtl2/Biogemma_DHgenos/*dropped*.rds
genotypes/qtl2/Biogemma_foundergenos/*121718.csv
genotypes/probabilities/haplotype_probs/RefinedIBD_WGS
genotypes/probabilities/haplotype_probs/RefinedIBD_600K/dropped/
genotypes/probabilities/haplotype_probs/RefinedIBD_600K/low_rep/
genotypes/probabilities/haplotype_probs/RefinedIBD_600K/raw/
genotypes/WGS/
genotypes/vgt1/
genotypes/misc/
genotypes/plink_files/
genotypes/scripts/
genotypes/600K/
GridLMM/GridLMM_600KSNP/
GridLMM/GridLMM_founderprobs/
GridLMM/GridLMM_haplotypes/
GridLMM/images/
GridLMM/phenotypes.csv
GridLMM/pgs/
GridLMM/MITE_only/
GridLMM/Biogemma_10p_QTL.csv
GridLMM/Biogemma_Method_Overlap.csv
GridLMM/Biogemma_QTL_all_thresholds.csv
GridLMM/Biogemma_QTL_variance_explained.txt
stats/
selection/
epistasis/
scripts/old/
slurm-scripts/old/
run_magicsim/pgs/
run_magicsim/qtl2_files/
run_magicsim/breaktables/
run_magicsim/selection/
run_magicsim/merged_vcfs
ibd_segments/comparison/
ibd_segments/germline/
ibd_segments/IBDSeq/
ibd_segments/refinedibd/WGS/
ibd_segments/refinedibd/600K/Biogemma_600K_Founders_tester*
ibd_segments/refinedibd/600K/*ibd_graph.rds
