*.DS_Store
*.RData
*.Rhistory
slurm-logs/
gemma/
test/
workflows/
mppR/
*.sh~
*.py~
*.R~
ref_align/psr_utils/__pycache__
*.pl~
.gitignore~
*.vcf*
*.bam*
*.csv
*.rds
*.txt
*.txt*
*.tsv
*.ped
*.bed
*.map
*.bim
*.fam
*.fa*
impute/
magicsim/
*.png
*.pdf
*.ibd
*.hbd
*.ibd.gz
*.hbd.gz
*.log
*.r2.filtered
*.match
*.ld
*.nosex
*.012
*.012.indv
*.012.pos
*.frqx
*.frq*
expression/
genotypes/probabilities/allele_probs/
genotypes/probabilities/geno_probs/dropped/
genotypes/probabilities/geno_probs/images/
genotypes/probabilities/haplotype_probs/RefinedIBD_WGS
genotypes/WGS/
genotypes/vgt1/
genotypes/misc/
genotypes/plink_files/
genotypes/scripts/
genotypes/600K/
GridLMM/GridLMM_600KSNP/
GridLMM/GridLMM_founderprobs/
GridLMM/GridLMM_haplotypes/
GridLMM/images/
GridLMM/pgs/
stats/
scripts/old/
slurm-scripts/old/
run_magicsim/pgs/
run_magicsim/qtl2_files/
